@use 'base/variables' as v;

.header{
    background-color: v.$verde;
    .contenido-header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        color: v.$blanco;
        margin: 0;
    }
}
.navegacion-principal {
    a {
        color: v.$blanco;
    }
}