@use '../base/variables' as v;
@use '../base/mixins' as m;


.lineup {
    background-color: v.$rosa;
    h3, .dia {
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.escenarios-contenedor {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid(2);
    }
}

.escenario {
    p {
        padding-top: 2rem;
    }
    .nombre-escenario{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}