$fuente_principal : "Montserrat", sans-serif;

body{
    font-family: $fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-family: $fuente_principal;
}
p {
    font-family: $fuente_principal;
}
a {
    font-family: $fuente_principal;
}